.cat-nose {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 10px;
  width: 0px;
  height: 0px;
  border-right: 115px solid transparent;
  border-left: 115px solid transparent;
  border-bottom: 205px solid #fff;
  border-radius: 50%;
  transform: 'rotate(180deg)';
}

.cat-nose:after {
  display: block;
  content: '';
  position: absolute;
  top: 125px;
  left: 50%;
  margin-left: -12.5px;
  width: 0;
  height: 0;
  border-right: 12.5px solid transparent;
  border-left: 12.5px solid transparent;
  border-top: 12.5px solid #000;
}

.cat-mouth {
  width: 125px;
  height: 42.5px;
  position: absolute;
  top: 175px;
  left: 50%;
  margin-left: -62.5px;
  z-index: 2;
  overflow: hidden;
}

.cat-mouth:before {
  content: '';
  display: block;
  position: absolute;
  left: 3px;
  bottom: 0;
  border: 2px solid #000;
  width: 60px;
  height: 70px;
  border-radius: 50%;
}

.cat-mouth:after {
  content: '';
  display: block;
  position: absolute;
  right: 3px;
  bottom: 0;
  border: 2px solid #000;
  width: 60px;
  height: 70px;
  border-radius: 50%;
}

.cat-eyes {
  position: absolute;
  top: 125px;
  width: 137.5px;
  left: 50%;
  margin-left: -67.5px;
  z-index: 2;
}

.cat-eyes:before {
  position: absolute;
  display: block;
  content: '';
  width: 32.5px;
  height: 32.5px;
  background-color: black;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.cat-eyes:after {
  position: absolute;
  display: block;
  content: '';
  width: 32.5px;
  height: 32.5px;
  background-color: black;
  right: 0;
  top: 0;
  border-radius: 50%;
}
